body{background-color:#C6C0A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{color: #7D775C;
font-size: x-large;
font-style: italic;
font-weight: bold;
text-align: center;
letter-spacing: 1px; }

h3{color:#7D775C;
font: larger, bold;
letter-spacing:1px;}

li{line-height: 12px;}

.HT, .CSS{color:green;}

#duree {color:red;
font-size:larger;
text-decoration: underline;
}